.footer {
  width: 100%;
  background-color: white;
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0px;
  z-index: 60;
  font-size: 12px;
}

@media only screen and (max-width: 650px) {
  .footer {
    font-size: 8px;
  }
}
